<Layouts.flash_group flash={@flash} />
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsabilidad Social</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0;
      padding: 20px;
      box-sizing: border-box;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      border: 1px solid #333;
      padding: 20px;
    }

    h1 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    img {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }

    .info{
      justify-content: space-between;
    }

    .button-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .button {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      font-size: 14px;
    }

    .arrow {
      font-size: 24px;
      margin-top: 5px;
    }
  </style>
</head>
<body>

  <div class="container">
    <h1>Responsabilidad Social<br>Cooperativa / Mutual<br>Trabajemos con:</h1>

  <img src={~p"/static/images/villatristeza.png"} alt=""/>

    <div class="button-row">
      <div class="button" onclick="instrucciones()">
        <.link navigate={~p"/instrucciones"} class="button">
        Instrucciones
        </.link>
      </div>

      <div class="button" phx-click="redirect_to_desafios">

        <.link navigate={~p"/desafio"} class="button">
        Generar Desafío
        </.link>
      </div>

      
    </div>
  </div>


</body>


</html>
